@use '../../../styles/settings' as *;

@mixin theme-button($theme-name, $theme-clr-main, $theme-clr-text) {
  &_theme-#{$theme-name} {
    background: $theme-clr-main;
    color: $theme-clr-text;

    &:hover {
      background: rgba($color: $theme-clr-main, $alpha: 0.75);
    }
  }
}

.ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em 1.5em 0.75em 1.5em;
  outline: 4px solid transparent;
  border: 2px solid transparent;
  border-radius: $border-radius-button;
  background: $clr-neutral-300;
  transition: all 0.25s ease 0s;
  font-size: $fs-native;
  font-weight: $fw-native;
  color: $clr-text-dark;
  cursor: pointer;

  > * + * {
    margin: 0 0 0 0.75em;
  }

  &:focus-visible {
    outline-color: rgba($color: $clr-neutral-700, $alpha: 0.5);
  }

  &:hover {
    background: rgba($color: $clr-neutral-300, $alpha: 0.875);
  }

  &:active {
    transform: scale(0.9375);
  }

  &_size-small {
    padding: 0.5em 1.25em 0.5em 1.25em;

    > * + * {
      margin: 0 0 0 0.5em;
    }
  }

  @include theme-button('primary', $clr-primary-native, $clr-text-ligth);
  @include theme-button('secondary', $clr-secondary-native, $clr-text-ligth);
  @include theme-button('info', $clr-info-native, $clr-text-ligth);
  @include theme-button('success', $clr-success-native, $clr-text-ligth);
  @include theme-button('warning', $clr-warning-native, $clr-text-dark);
  @include theme-button('danger', $clr-danger-native, $clr-text-ligth);
}
