// Breakpoints settings
$breakpoint-list: (
  'xxl': 1920px,
  'xl': 1600px,
  'lg': 1280px,
  'md': 768px,
  'sm': 480px,
  'xs': 320px,
);

// Colors setting
$clr-neutral-900: #000000;
$clr-neutral-800: #0e1116;
$clr-neutral-700: #292e36;
$clr-neutral-600: #5e6977;
$clr-neutral-500: #94a3b8;
$clr-neutral-400: #a9b5c6;
$clr-neutral-300: #d4dae2;
$clr-neutral-200: #eaedf1;
$clr-neutral-100: #ffffff;

$clr-text-dark: #0e1116;
$clr-text-ligth: #eaedf1;

$clr-primary-bright: hsl(227, 96%, 65%);
$clr-primary-native: hsl(227, 96%, 60%);
$clr-primary-light: hsl(227, 96%, 70%);
$clr-primary-dark: hsl(227, 96%, 55%);

$clr-secondary-bright: hsl(26, 98%, 65%);
$clr-secondary-native: hsl(26, 98%, 60%);
$clr-secondary-light: hsl(26, 98%, 70%);
$clr-secondary-dark: hsl(26, 98%, 55%);

$clr-success-bright: hsl(179, 71%, 37%);
$clr-success-native: hsl(179, 71%, 32%);
$clr-success-light: hsl(179, 71%, 42%);
$clr-success-dark: hsl(179, 71%, 27%);

$clr-warning-bright: hsl(36, 87%, 64%);
$clr-warning-native: hsl(36, 87%, 59%);
$clr-warning-light: hsl(36, 87%, 69%);
$clr-warning-dark: hsl(36, 87%, 54%);

$clr-danger-bright: hsl(0, 64%, 61%);
$clr-danger-native: hsl(0, 64%, 56%);
$clr-danger-light: hsl(0, 64%, 66%);
$clr-danger-dark: hsl(0, 64%, 51%);

$clr-info-bright: hsl(219, 65%, 58%);
$clr-info-native: hsl(219, 65%, 53%);
$clr-info-light: hsl(219, 65%, 63%);
$clr-info-dark: hsl(219, 65%, 48%);

// Fonts settings
$ff-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$ff-native: 'Montserrat', sans-serif;

$fs-native: 16px;
$fw-native: 400;
$lh-native: 150%;
