// Breakpoints settings
$breakpoint-list: (
  'xxl': 1920px,
  'xl': 1600px,
  'lg': 1280px,
  'md': 768px,
  'sm': 480px,
  'xs': 320px,
);

// Colors setting
$clr-neutral-900: #000000;
$clr-neutral-800: #0e1116;
$clr-neutral-700: #292e36;
$clr-neutral-600: #5e6977;
$clr-neutral-500: #94a3b8;
$clr-neutral-400: #a9b5c6;
$clr-neutral-300: #d4dae2;
$clr-neutral-200: #eaedf1;
$clr-neutral-100: #ffffff;

$clr-text-dark: #0e1116;
$clr-text-ligth: #eaedf1;

$clr-primary-bright: hsl(227, 96%, 65%);
$clr-primary-native: hsl(227, 96%, 60%);
$clr-primary-light: hsl(227, 96%, 70%);
$clr-primary-dark: hsl(227, 96%, 55%);

$clr-secondary-bright: hsl(26, 98%, 65%);
$clr-secondary-native: hsl(26, 98%, 60%);
$clr-secondary-light: hsl(26, 98%, 70%);
$clr-secondary-dark: hsl(26, 98%, 55%);

$clr-success-bright: hsl(179, 71%, 37%);
$clr-success-native: hsl(179, 71%, 32%);
$clr-success-light: hsl(179, 71%, 42%);
$clr-success-dark: hsl(179, 71%, 27%);

$clr-warning-bright: hsl(36, 87%, 64%);
$clr-warning-native: hsl(36, 87%, 59%);
$clr-warning-light: hsl(36, 87%, 69%);
$clr-warning-dark: hsl(36, 87%, 54%);

$clr-danger-bright: hsl(0, 64%, 61%);
$clr-danger-native: hsl(0, 64%, 56%);
$clr-danger-light: hsl(0, 64%, 66%);
$clr-danger-dark: hsl(0, 64%, 51%);

$clr-info-bright: hsl(219, 65%, 58%);
$clr-info-native: hsl(219, 65%, 53%);
$clr-info-light: hsl(219, 65%, 63%);
$clr-info-dark: hsl(219, 65%, 48%);

// Fonts settings
$ff-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$ff-native: 'Montserrat', sans-serif;

$fs-heading-xl: 48px;
$fs-heading-lg: 40px;
$fs-heading-md: 32px;
$fs-heading-sm: 24px;
$fs-heading-xs: 20px;

$fs-native-xl: 20px;
$fs-native-lg: 18px;
$fs-native: 16px;
$fs-native-sm: 14px;
$fs-native-xs: 12px;

$fw-headin: 700;
$fw-native: 400;

$lh-native: 150%;
$lh-headein-300: 140%;
$lh-headein-200: 130%;
$lh-headein-100: 120%;

// Deacration settings
$border-radius-native: 4px;
$border-radius-button: 4px;
$border-radius-input: 4px;

$box-shadow-xxl: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
$box-shadow-xl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
$box-shadow-lg: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
$box-shadow-md: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
$box-shadow-sm: 0px 4px 8px -2px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
$box-shadow-xs: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
$box-shadow-xxs: 0px 1px 2px rgba(0, 0, 0, 0.0005);
