// Breakpoints settings
$breakpoint-list: (
  'xxl': 1920px,
  'xl': 1600px,
  'lg': 1280px,
  'md': 768px,
  'sm': 480px,
  'xs': 320px,
);

// Colors setting
$clr-text-dark: #333333; // default text
$clr-text-ligth: #757575; // light text

$clr-white: #ffffff; // bg
$clr-gray-100: #fafafa; // bg
$clr-gray-200: #f2f2f2; // border & bg
$clr-gray-300: #e8e8e8; // border & bg
$clr-gray-400: #e0e0e0; // border & bg
$clr-black: #000000;

$clr-primary-native: #3762fb;
$clr-secondary-native: #a866ff;
$clr-tertiary-native: #fd8c35;
$clr-success-native: #3bbf3b;
$clr-warning-native: #f3b91b;
$clr-danger-native: #f03838;

// Fonts settings
$ff-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$ff-native: 'Montserrat', sans-serif;

$fs-native: 16px;
$fw-native: 400;
$lh-native: 150%;
